[submodule "tests/yaml-test-suite"]
	path = tests/yaml-test-suite
	url = https://github.com/eemeli/yaml-test-suite.git
	branch = fixed-data
[submodule "docs"]
	path = docs-slate
	url = https://github.com/eemeli/yaml-docs.git
[submodule "tests/json-test-suite"]
	path = tests/json-test-suite
	url = https://github.com/nst/JSONTestSuite.git
	branch = main
