[submodule "tests/yaml-test-suite"]
	path = tests/yaml-test-suite
	url = https://github.com/eemeli/yaml-test-suite.git
	branch = fixed-data
[submodule "docs"]
	path = docs
	url = https://github.com/eemeli/yaml-docs.git
