name: Browsers

permissions: {}

on:
  - push
  - workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with: { submodules: true }
      - uses: actions/setup-node@v4
        with: { node-version: 20 }
      - uses: browserstack/github-actions/setup-env@master
        with:
          username:  ${{ secrets.BROWSERSTACK_USERNAME }}
          access-key: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
          project-name: yaml
      - uses: browserstack/github-actions/setup-local@master
        with:
          local-testing: start
          local-identifier: random

      - run: npm ci
      - run: npm run build
      - name: Playground setup
        working-directory: ./playground
        run: npm ci
      - name: Playground build
        working-directory: ./playground
        run: npm run build
      - run: npx http-server site &
        working-directory: ./playground

      - run: npx browserstack-node-sdk jest
        working-directory: ./playground

      - uses: browserstack/github-actions/setup-local@master
        if: always()
        with:
          local-testing: stop
