name: Deno

permissions: {}

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deno-v1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with: { submodules: true }
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v1.x
      - run: deno --allow-env src/public-api.ts

  deno-v2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with: { submodules: true }
      - uses: denoland/setup-deno@v2
      - run: deno --allow-env src/public-api.ts
      - run: deno publish --no-check --dry-run
