name: TypeScript

permissions: {}

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  typescript:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with: { node-version: 20 }
      - run: npm ci
      - run: npm run build
      - run: npm run test:types
      - run: npm run test:dist:types

      - run: npm install --no-save @types/node@20.19.0 typescript@5.9.2
      - run: npm run test:dist:types
